
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="http://localhost:8080/messenger-1.0-SNAPSHOT/templates/style.css">
</head>
<body>
<form class="form" action="http://localhost:8080/messenger-1.0-SNAPSHOT/api/message" method="POST">

    <input class="input" type="text" placeholder="Кому" name="recipient">

    <input class="input" type="password" placeholder="текст" name="text">

    <button class="btn" type="submit">Отправить</button>
</form>
</body>
</html>