
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form class="form" action="http://localhost:8080/messeger-1.0-SNAPSHOT/api/user" method="POST">
    <input class="input" type="text" placeholder="Ваше имя" name="firstName">

    <input class="input" type="text" placeholder="Ваша фамилия" name="lastName">

    <input class="input" type="text" placeholder="Ваше отчество" name="patronymic">

    <input class="input" type="date" placeholder="Дата рождения" name="dayOfBirth">

    <input class="input" type="text" placeholder="Логин" name="login">

    <input class="input" type="password" placeholder="Пароль" name="password">

    <button class="btn" type="submit">Регистрация</button>
</form>
</body>
</html>